{% include 'header.html' %}

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
					{% for cart in carts %}
						<tr>

							<td class="cart_product">
								<a href="{{url_for('detail',id=cart.products.id )}}"><img src="{{ cart.products.image }}" alt="" width="120" height="120"></a>
							</td>
							<td class="cart_description">
								<h4>
									<a href="{{url_for('detail',id=cart.products.id )}}">{{cart.products.name}}</a></h4>

							</td>
							<td class="cart_price">
								<p>${{cart.products.price}}</p>
							</td>
							<td class="cart_quantity">
								<p >
									{{cart.quantity}}
								</p>
<!--								<div class="cart_quantity_button">-->
<!--									<a class="cart_quantity_up" href="" id="plus"> + </a>-->
<!--									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">-->
<!--									<a class="cart_quantity_down" href="" id="plus"> - </a>-->
<!--								</div>-->
							</td>
							<td class="cart_total">
								<p class="cart_total_price">${{cart.products.price * cart.quantity}}</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href="{{ url_for('deletecart',id=cart.id) }}"><i class="fa fa-times"></i></a>
							</td>
						</tr>


						{% endfor %}
					<tr>
							<td colspan="4">&nbsp;</td>
							<td colspan="2">
								<table class="table table-condensed total-result">

									<tr>
										<td>Total</td>
										<td><span>${{total}}</span></td>

									</tr>
								</table>
								<a class="btn btn-default update" href="{{url_for('home')}}">Go to shop</a>
								<a class="btn btn-default check_out" href="{{url_for('checkout')}}">Check Out</a>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->


{% include 'footer.html' %}
